.button{
    border-radius: 25px;
    padding: 0.6rem;
    background-color: $nickel;
    color: white;
    margin-bottom: 2.5rem;
    &:hover{
        opacity: 0.6196078431372549;
    }
}

@media only screen and (max-width: 600px) {
    .botones {
        text-align: center;
    }
  }